<div class="container">
  <app-card title="{{'Let Me Introduce Myself' | translate}}" subTitle="{{'About Me' | translate}}"
            [showProgress]="showProgress">
    <div class="card mb-3  animate__animated animate__fadeIn">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-header text-primary text-center">{{aboutMeOBJView.title}}</h5>
            <h5 class="card-title text-primary text-center">
              {{aboutMeOBJView.desc}}
            </h5>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="card text-center">-->
<!--      <h5 class="card-header text-primary">{{aboutMeOBJView.title}}</h5>-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title text-primary">-->
<!--          {{aboutMeOBJView.desc}}-->
<!--        </h5>-->
<!--      </div>-->
<!--    </div>-->
  </app-card>
  <br>
  <app-card title="{{'Profile' | translate}}" subTitle="{{'More About Me' | translate}}"
            [showProgress]="showProgress">
    <div class="card text-center animate__animated animate__fadeIn">
      <h5 class="card-header text-primary">{{aboutMeOBJView.title}}</h5>
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{aboutMeOBJView.desc}}
        </h5>
      </div>
    </div>
  </app-card>
</div>
