<mat-drawer-container [class.drawer-opened]="drawer.opened" [dir]="langService.direction">
  <mat-drawer #drawer class="drawer">
    <!--    <mat-toolbar class="header">-->
    <!--      <div style="color: #3f51b5">-->
    <!--        {{'Welcome To My Portfolio' | translate}}-->
    <!--      </div>-->
    <!--      <mat-icon class="close" style="cursor: pointer;color: #3f51b5;" (click)="drawer.close()">-->
    <!--        close-->
    <!--      </mat-icon>-->
    <!--    </mat-toolbar>-->
    <br>
    <br>
    <div class="contents">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-item *ngFor="let link of connectUrls" [routerLink]="link.url" [routerLinkActive]="['active']"
                       [routerLinkActiveOptions]="{exact: true}" (click)="drawer.close()">
          <a>{{link.page | translate}}</a>
        </mat-list-item>
      </mat-selection-list>
    </div>
  </mat-drawer>

  <mat-toolbar class="main header animate__animated animate__fadeInDown" color="primary">
    <mat-icon style="cursor: pointer" *ngIf="!drawer.opened" (click)="drawer.toggle()">
      menu
    </mat-icon>
    <div class="flex-spacer"></div>
    <button mat-raised-button class="m-1" routerLink="/about-me">Amr Mossad</button>
    <button mat-mini-fab class="m-1" [matMenuTriggerFor]="menu">
      <mat-icon>translate</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main contents animate__animated animate__zoomIn">
    <router-outlet></router-outlet>
  </div>


  <mat-toolbar class="main footer animate__animated animate__fadeInUp" color="primary">
    <button (click)="onNavigate('https://www.facebook.com/amr.mossad.12979')" mat-icon-button class="m-1">
      <i class="fab fa-facebook fa-2x"></i>
    </button>
    <button (click)="onNavigate('https://github.com/AmrMossad93')" mat-icon-button class="m-1">
      <i class="fab fa-github fa-2x"></i>
    </button>
    <button (click)="onNavigate('https://twitter.com/AmrMossad8')" mat-icon-button class="m-1">
      <i class="fab fa-twitter fa-2x"></i>
    </button>
    <button (click)="onNavigate('https://www.linkedin.com/in/amr-mossad-209976158/')" mat-icon-button class="m-1">
      <i class="fab fa-linkedin fa-2x"></i>
    </button>
    <button (click)="onNavigate('https://www.instagram.com/eng.amrmossad2/')" mat-icon-button class="m-1">
      <i class="fab fa-instagram fa-2x"></i>
    </button>
    <div class="flex-spacer"></div>
    <!--    <button mat-raised-button class="m-1">Feedback</button>-->
    <!--    <button mat-raised-button class="m-1">Online Assistants</button>-->
    <!--    <button mat-raised-button class="m-1">Toll-Free: 1-866-834-7925</button>-->
    <a href="assets/MyLatestCV/Sofware%20Engineer%20Amr%20Mossad.pdf" download mat-raised-button class="m-1">
      Download My CV
    </a>
    <a href="mailto:eng.amrmossad93@gmail.com" mat-raised-button class="m-1">
      Send Me Email
    </a>
  </mat-toolbar>
</mat-drawer-container>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="langService.changeLanguage('ar')">
    العربيه
  </button>
  <button mat-menu-item (click)="langService.changeLanguage('en')">
    English
  </button>
  <button mat-menu-item (click)="langService.changeLanguage('fr')">
    Français
  </button>
</mat-menu>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3f51b5" type="square-loader" [fullScreen]="true">
</ngx-spinner>
<p-scrollTop></p-scrollTop>

