<div class="container">
  <mat-card class="text-center animate__animated animate__fadeIn">
    <mat-card-header>
      <mat-card-title>{{'My Name Is Amr Mossad' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'Software Engineer' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3 class="text-primary">
        {{'Hello World , This Is Amr Mossad Software Engineer , Worked As A FrontEnd Web Developer , FrontEnd Mobile Developer And Day By Day I Develop Myself To Be A Full-Stack Developer. I Made Many Of Projects As A Freelancer Or Employer In Companies And I Have A Dream To Make My Own Business And Try To Make The World To A Small Smart Village.' | translate}}
      </h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="w-25" routerLink="/about-me">{{'Know More About Me' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
