/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color: #3f51b5;
* {
  font-family: 'Cairo', 'Raleway', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

button.mat-menu-item {
  font-family: 'Cairo', 'Raleway', sans-serif;
}

mat-card-title {
  font: 33px 'Raleway', 'Cairo';
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid $primary-color;
  color: $primary-color !important;
}

mat-card-subtitle {
  font: 15px 'Raleway', 'Cairo';
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color !important;
}

.mat-card {
  background: linear-gradient(45deg, #ffffff, #f0f0f0, #ffffff, #3f51b5);
  background-size: 200% 200% !important;
  animation: gradient2 5s ease infinite;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $primary-color !important;
  transition: width 0.6s ease;
}

.p-image-toolbar {
  display: block !important;
  z-index: 9999999999999
}

.p-image-action.p-link i {
  color: $primary-color;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $primary-color;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: $primary-color;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: $primary-color;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.p-scrolltop.p-link {
  background: rgba($primary-color, 0.7);
}

.p-scrolltop.p-link:hover {
  background: rgba($primary-color, 0.8);
}

@keyframes gradient2 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
